apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-web
  namespace: demo-apps
spec:
  replicas: 3
  selector:
    matchLabels:
      app: simple-web
  template:
    metadata:
      labels:
        app: simple-web
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
